* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #ffff;
}

.container{
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}

header{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
#viewHS, #home, #clear, #submit-name {
    background-color: royalblue;
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 90%;
    color: #ffff;
}

#questionnaire{
    text-align: center;
}


.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}

#mainscreen {
    margin: 100px auto 0 auto;
    max-width: 500px;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}

#startBtn {
    text-align: center;
}

.start {
    text-align: center;
}

button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    background-color: royalblue;
    padding: 5px 10px;
    color: #ffff;
    border: 2px;
    border-radius: 6px;
    transition: background-color 0.2s;
    font-size: 125%;
}
button:hover{
    background-color: lightslategray;
}

